<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mcw.cora.mybatis.mapper.CourseMapper">

    <insert id="insert" parameterType="course">
        insert into course (course_name) values (
        #{courseName,jdbcType=VARCHAR}
        )
    </insert>

</mapper>
